.both {
	clear: both ;
}
.nod {
	display: none !important ;
}
.overlay {
	margin: 20px ;
}
thead th {
	background-color: #fafafa ;
}
td {
	padding: 2px 5px ;
}
th {
	text-align: center ;
}
td {
	vertical-align: top ;
}
label {
	cursor: pointer ;
	background-color: rgba( 0 , 0 , 0 , 0.05 ) ;
	border: 1px solid silver ;
	color: #000000 ;
	display: block ;
	padding: 2px ;
}
.overlay form {
	width: 350px ;
	margin: 0 auto ;
}
.overlay form label > span + input {
	float: right ;
}
.error-field {
	color: red ;
	text-align: center ;
}
.error-field:empty {
	display: none ;
}
label.submit-field > input ,
label.submit-field > span {
	display: block ;
	float: right ;
	margin: 0 5px ;
}
.profile-photo {
	display: block ;
	width: 100% ;
	height: 200px ;
	object-fit: contain ;
}
.profile-logout {
	text-align: center ;
	display: block ;
}
.waiter {
	position: fixed ;
	width: 100% ;
	height: 100% ;
	background-color: rgba( 255 , 255 , 255 , 0.5 ) ;
	background-image: url( "/i/loading.gif" ) ;
	background-position: center center ;
	background-repeat: no-repeat ;
}
.authors {
	text-align: right ;
}
h1 ,
.form h2 {
	text-align: center ;
}